pvcollada20_schema/pvcollada_schema_0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.example.com/pvcollada"
           xmlns="http://www.example.com/pvcollada"
           elementFormDefault="qualified"
           xmlns:collada="http://www.collada.org/2008/03/COLLADASchema">

  <xs:import namespace="http://www.collada.org/2008/03/COLLADASchema"
             schemaLocation="collada_schema_1_5.xsd"/>

  <xs:simpleType name="cell_type_enum" final="restriction" >
    <xs:restriction base="xs:string">
        <xs:enumeration value="monoSi" />
        <xs:enumeration value="polySi" />
        <xs:enumeration value="aSi" />
        <xs:enumeration value="aSi_tandem" />
        <xs:enumeration value="cdTe" />
        <xs:enumeration value="aSi" />
        <xs:enumeration value="aSi" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="module_type_enum" final="restriction" >
    <xs:restriction base="xs:string">
        <xs:enumeration value="monofacial" />
        <xs:enumeration value="bifacial" />
        <xs:enumeration value="cpv" />
        <xs:enumeration value="shingle" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="inverter_type_enum" final="restriction" >
    <xs:restriction base="xs:string">
        <xs:enumeration value="central" />
        <xs:enumeration value="string" />
        <xs:enumeration value="microinverter" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="module_type_object">
    <xs:annotation>
      <xs:documentation>Module product-level data</xs:documentation>
    </xs:annotation>
	  <xs:sequence>
      <xs:element name="manufacturer" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string">
  	    <xs:annotation>
	        <xs:documentation>Module model name, e.g., Q.Tron Classic 440W</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="module_type" type="module_type_enum" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Module type.</xs:documentation>
        </xs:annotation>
      </xs:element>
    	<xs:element name="nom_power" type="xs:float">
  	    <xs:annotation>
	        <xs:documentation>Module power at Standard Test Condition (STC), W.</xs:documentation>
        </xs:annotation>
      </xs:element>
			<xs:element name="length" type="xs:float">
  	    <xs:annotation>
	        <xs:documentation>Length in the longest dimension, mm.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="width" type="xs:float">
  	    <xs:annotation>
	        <xs:documentation>Width orthogonal to the longest dimension, mm.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="depth" type="xs:float">
  	    <xs:annotation>
	        <xs:documentation>Depth, or thickness, mm.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="num_cells" type="xs:positiveInteger" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Total number of cells.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="num_cells_length" type="xs:positiveInteger" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Number of cells in the length dimension.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="num_cells_width" type="xs:positiveInteger" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Number of cells in the width dimension.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="num_cells_series" type="xs:positiveInteger" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Number of cells in series in a string. Use num_strings to record the number of parallel strings.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="num_strings" type="xs:positiveInteger" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Number of parallel strings. Use num_cells_series to record the number of series-connected cells in a string.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cell_type" type="cell_type_enum" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Absorber type used in the module.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="bifacial_factor" type="xs:float" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Bifaciality factor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="t_coef_power" type="xs:float" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Temperature coefficient of power, %/C.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="t_coef_isc" type="xs:float" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Temperature coefficient of short-circuit current, A/C.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="t_coef_voc" type="xs:float" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Temperature coefficient of open-circuit voltage, V/C.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="i_sc" type="xs:float" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Short-circuit current at STC, A.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="i_mpp" type="xs:float" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Current at maximum power point at STC, A.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="v_oc" type="xs:float" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Open-circuit voltage at STC, V.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="v_mpp" type="xs:float" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Voltage at maximum power point at STC, V.</xs:documentation>
        </xs:annotation>
      </xs:element>
		</xs:sequence>
    <xs:attribute name="id" use="required" type="xs:ID"/>
  </xs:complexType>

  <xs:complexType name="inverter_type_object">
    <xs:annotation>
      <xs:documentation>Inverter product-level data</xs:documentation>
    </xs:annotation>
	  <xs:sequence>
      <xs:element name="manufacturer" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string">
  	    <xs:annotation>
	        <xs:documentation>Inverter model name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="inverter_type" type="inverter_type_enum" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Inverter type.</xs:documentation>
        </xs:annotation>
      </xs:element>
    	<xs:element name="nom_power_ac" type="xs:float">
  	    <xs:annotation>
	        <xs:documentation>Inverter AC power at rating condition, W.</xs:documentation>
        </xs:annotation>
      </xs:element>
    	<xs:element name="nom_power_dc" type="xs:float">
  	    <xs:annotation>
	        <xs:documentation>Inverter DC power at rating condition, W.</xs:documentation>
        </xs:annotation>
      </xs:element>
    	<xs:element name="capacity_ac" type="xs:float" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Maximum inverter AC power, W.</xs:documentation>
        </xs:annotation>
      </xs:element>
    	<xs:element name="capacity_dc" type="xs:float" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Maximum inverter input DC power, W.</xs:documentation>
        </xs:annotation>
      </xs:element>
    	<xs:element name="v_mpp_min" type="xs:float" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Minimum DC voltage for MPP tracking, V.</xs:documentation>
        </xs:annotation>
      </xs:element>
    	<xs:element name="v_mpp_max" type="xs:float" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Maximum DC voltage for MPP tracking, V.</xs:documentation>
        </xs:annotation>
      </xs:element>
    	<xs:element name="v_mpp_nom" type="xs:float" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Nominal DC voltage for MPP tracking, V.</xs:documentation>
        </xs:annotation>
      </xs:element>
    	<xs:element name="i_max_dc" type="xs:float" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Maximum DC current, A.</xs:documentation>
        </xs:annotation>
      </xs:element>
    	<xs:element name="mppt_count" type="xs:float" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Number of MPPTs.</xs:documentation>
        </xs:annotation>
      </xs:element>
    	<xs:element name="mppt_input_count" type="xs:float" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Number of string inputs to a MPPT.</xs:documentation>
        </xs:annotation>
      </xs:element>
    	<xs:element name="v_out_ac" type="xs:float" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Nominal AC output voltage.</xs:documentation>
        </xs:annotation>
      </xs:element>
    	<xs:element name="self_consumption" type="xs:float" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Power consumed by the inverter during operations, W.</xs:documentation>
        </xs:annotation>
      </xs:element>
    	<xs:element name="night_tare" type="xs:float" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Power consumed by the inverter when not operating, W.</xs:documentation>
        </xs:annotation>
      </xs:element>
    	<xs:element name="temperature_derate" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Derate curve for temperature. Sequence of pairs of float (temperature, derate) where derate is fraction of full output. Ensure temperature is increasing.</xs:documentation>
        </xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="pt" type="collada:float2_type"/>
          </xs:sequence>
				</xs:complexType>
      </xs:element>
    	<xs:element name="efficiency" minOccurs="0">
  	    <xs:annotation>
          <xs:documentation>Maximum of output AC power divided by input DC power, in percent.</xs:documentation>
        </xs:annotation>
			  <xs:simpleType>
				  <xs:restriction base="xs:float">
					  <xs:minInclusive value="0"/>
						<xs:maxInclusive value="100"/>
					</xs:restriction>
				</xs:simpleType>
      </xs:element>
    	<xs:element name="efficiency_standard_value" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Output AC power divided by input DC power, in percent. Computed as defined by efficiency_standard_type.</xs:documentation>
        </xs:annotation>
			  <xs:simpleType>
				  <xs:restriction base="xs:float">
					  <xs:minInclusive value="0"/>
						<xs:maxInclusive value="100"/>
					</xs:restriction>
				</xs:simpleType>
      </xs:element>
    	<xs:element name="efficiency_standard_type" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Standard for calculation of efficiency.</xs:documentation>
        </xs:annotation>
			  <xs:simpleType>
				  <xs:restriction base="xs:string">
					  <xs:enumeration value="CEC"/>
						<xs:enumeration value="EC"/>
					</xs:restriction>
				</xs:simpleType>
      </xs:element>
    	<xs:element name="mesh_ed" type="collada:sidref_type" minOccurs="0">
  	    <xs:annotation>
	        <xs:documentation>Mesh describing inverter object in 3D scene.</xs:documentation>
        </xs:annotation>
      </xs:element>
		</xs:sequence>
    <xs:attribute name="id" use="required" type="xs:ID"/>
  </xs:complexType>

  <xs:element name="software">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="source" type="xs:string"/>
        <xs:element name="target" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="project">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="drawing" type="xs:string"/>
        <xs:element name="company" type="xs:string"/>
        <xs:element name="country" type="xs:string">
          <xs:annotation>
            <xs:documentation xml:lang="en">ISO 3166 country code.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="latitude" type="xs:float">
          <xs:annotation>
            <xs:documentation xml:lang="en">Degrees, positive for north of the equator.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="longitude" type="xs:float">
          <xs:annotation>
            <xs:documentation xml:lang="en">Degrees, positive for east of the prime meridian.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="elevation" type="xs:float">
          <xs:annotation>
            <xs:documentation xml:lang="en">Meters above mean sea level (MSL).</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="timezone" type="xs:string">
          <xs:annotation>
            <xs:documentation xml:lang="en">IANA time zone.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="timezone_offset" type="xs:float" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Timezone offset from UTC, hour. E.g., for +1:30, enter 1.5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="transformation_vector" type="collada:float3_type">
          <xs:annotation>
            <xs:documentation xml:lang="en">Vector from 3D origin to PV system coordinate origin.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="coordinate_system" type="xs:string">
          <xs:annotation>
            <xs:documentation xml:lang="en">EPSG code for 3D coordinate system, e.g., WGS-84.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="boundary" type="collada:sidref_type">
          <xs:annotation>
            <xs:documentation xml:lang="en">ID for a COLLADA geometry of type spline.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="module_count" type="xs:positiveInteger">
          <xs:annotation>
            <xs:documentation xml:lang="en">Total number of modules.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="table_count" type="xs:positiveInteger">
          <xs:annotation>
            <xs:documentation xml:lang="en">Total number of tables.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="string_count" type="xs:positiveInteger">
          <xs:annotation>
            <xs:documentation xml:lang="en">Total number of series-connected strings of modules.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="dc_capacity" type="xs:float">
          <xs:annotation>
            <xs:documentation xml:lang="en">DC capacity of the system at STC, W.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ac_capacity" type="xs:float">
          <xs:annotation>
            <xs:documentation xml:lang="en">AC capacity of the system at inverter rating condition, W.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="interconnection_limit" type="xs:float">
          <xs:annotation>
            <xs:documentation xml:lang="en">AC limit of the grid connection, W.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="terrain">
    <xs:complexType>
      <xs:sequence>
    		<xs:element name="bounding_box_min" type="collada:float3_type">
	    		<xs:annotation>
		    		<xs:documentation>Corner of bounding box. Opposite corner in bounding_box_max.</xs:documentation>
  			  </xs:annotation>
        </xs:element>
  	  	<xs:element name="bounding_box_max" type="collada:float3_type">
	  	  	<xs:annotation>
		  	  	<xs:documentation>Corner of bounding box. Opposite corner in bounding_box_min.</xs:documentation>
	  		  </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="sid" type="collada:sid_type" use="required">
	    	<xs:annotation>
		   		<xs:documentation>
			   	The sid attribute is a text string value containing the sub-identifier of this element. 
			    This value must be unique within the scope of the parent element.
			    </xs:documentation>
  		  </xs:annotation>
	  	</xs:attribute>
		</xs:complexType>
  </xs:element>

  <xs:element name="modules">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="module" type="module_type_object" minOccurs="1" maxOccurs="unbounded"/>
		  </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
